* {
    border: none;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 2px 5px;
    margin: 2px;
    background: transparent;
    color: #c0caf5;
    border-radius: 4px;
    border: 1px solid transparent;
}

#workspaces button.active {
    color: #8ab4f8;
    border: 1px solid #8ab4f8;
}

#workspaces button:hover {
    background: rgba(138, 180, 248, 0.2);
    border: 1px solid #8ab4f8;
}

#language,
#clock, 
#pulseaudio, 
#network, 
#cpu,
#memory,
#mpris,
#custom-weather,
#custom-battery,
#tray {
    padding: 0 10px;
    margin: 2px 3px;
    border-radius: 4px;
}

#language {
    background-color: #b48ead;
    color: #1a1b26;
}

#clock {
    background-color: #565f89;
}

#pulseaudio {
    background-color: #444b6a;
}
#pulseaudio.muted {
    background-color: #f7768e;
}

#network {
    background-color: #3e445e;
}
#network.disconnected {
    background-color: #f7768e;
}

#cpu {
    background-color: #383e56;
}

#memory {
    background-color: #32384e;
}

#mpris {
    background-color: #7aa2f7;
    color: #1a1b26;
}

#custom-weather {
    background-color: #a9b1d6;
    color: #1a1b26;
}


#custom-battery {
    background-color: #6a9372;
    color: #1a1b26;
}

#tray {
    background-color: #2f334a;
}
